{
  "env": {
    "build": {
      "plugins": [
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-do-expressions",
        "@babel/plugin-proposal-optional-chaining"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-do-expressions",
        "@babel/plugin-proposal-optional-chaining"
      ],
      "presets": ["@babel/preset-env"]
    }
  }
}
