{
  "env": {
    "build": {
      "plugins": [
        "transform-flow-strip-types",
        "external-helpers",
        "lodash"
      ],
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    },
    "test": {
      "plugins": [
      ],
      "presets": [
        "transform-flow-strip-types",
        "env",
        "stage-0"
      ]
    }
  }
}
